.follow {
	padding: 10px 15px 10px 10px;
}

.follow button {
	background-color: #192734;
	border: 1px solid#1E8ACC;
	outline: none;
	border-radius: 20px;
	width: 75px;
	height: 30px;
	font-size: 15px;
	color:#1E8ACC;
	font-weight: bold;
}

.follow-button {
	display: flex;
	align-items: center;
}